$primary: #9db653;
$secondary: #313134;
$white: #ffffff;
$light-text: #d7d7d7;
$alt-second: #343841;
$text: #888b90;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$font: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6, p, span, a, ul, li {
	font-family: $font;
	margin-top: 0;
	text-decoration: 0;
}

ul {
	padding-left: 0;
}

a {
	text-decoration: none;
}

.btn-aw {
  @extend .button;
	background: {
		color: $secondary;
	}
	color: $white;
	font-weight: 400;
	text-align: center;
	font-size: 1.2rem;
	margin: 0;
	padding: 20px 40px;
  transition: all 0.3s ease-in-out;
	border-radius: 2px;
	&:hover {
		background: {
			color: $alt-second;
		}
	}
	&.inverse {
		background: {
			color: $primary;
		}
		&:hover {
			background: {
				color: $alt-second;
			}
		}
	}
	&.full {
		width: 100%;
	}
}

// a tag standard classes
a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

.full-row {
	@extend .row;
	max-width: 100vw;
	overflow: hidden;
}

.aw-spacer {
	height: 1px;
}

.section {
	padding: 4rem 0;
}

// Vertical Align [ to use @include vertical-align() ]
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

// Margin on Recaptcha

.wpcf7-form-control-wrap {
	margin: 0 0 1rem;
}
